#piecesCarousel {
    height: 500px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    background: linear-gradient(to right bottom, rgb(244, 111, 111) 20%, white);
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
}

.carItem {
    text-align: center;
}

.carouselImage {
    width: 30%;
    height: 30%;
    margin: 0 auto;
}