#piecesCarousel {
    height: 600px;
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background: linear-gradient(to right bottom, rgba(244, 111, 111, .7) 20%, rgba(255, 255, 255,.7));
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
}

.carItem {
    text-align: center;
}

.galleryDisplayer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: calc(100% - 300px);
}

.carouselImage {
    width: 50%;
    display: flex;
    align-items: center;
}

.carouselImage img {
    max-width: 100%;
    margin: 0 auto;
}

.carouselData {
    text-align: center;
    width: 50%;
    padding: 20px;
}

.carouselData h3 {
    font-family: "Niconne", cursive;
    font-size: 40px;
    margin-bottom: 30px;
}

.carouselData ul {
    list-style: none;
    font-size: 20px;
}

.carouselData ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width:768px) {

    #piecesCarousel {
        height: min-content;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .galleryDisplayer {
        width: 75%;
    }

    .carouselImage,
    .carouselData {
        width: 100%;
        margin: 0 auto;
    }

}