.pieceModal {
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  cursor: default;
  border: none;
  border-radius: 5px;
}

.pieceModal::backdrop {
    background-image: linear-gradient(rgb(14, 111, 85), #32a844);
    pointer-events: none;
}

.dialogContainer {
    padding: 20px;
    height: 100%;
    text-align: center;
    background-color: rgb(233, 230, 230);
}

h3 {
  font-family: "Niconne", cursive;
  font-weight: normal;
  font-size: 5rem;
}

.pieceDescription {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pieceDescription p {
  font-size: 1.3rem;
  margin-top: 10px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--base-light-color);
  color: white;
  font-size: 1.5rem;
  transition: 300ms all;
}

button:hover {
  cursor: pointer;
  background-color: #57b966;
}
